<html>
<head>
    <title>mk-svh</title>
</head>
<style>
    html, body {
        font-family: sans-serif;
        background-color: black;
    }
    .center-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .dialog {
        padding: 1em;
        border: 1px solid rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        width: auto;
    }
</style>
<body>
    <!-- <video 
        controls
        crossorigin="anonymous" 
        src="" 
        controlslist="nodownload" 
    ></video> -->
    <%- player %>
</body>
</html>


